<template name="contact">
    {{> contactLists}}
</template>


<template name="contactLists">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  {{#each cs}}
    {{> contactrecord}}
  {{/each}}
    
  </tbody>
</table>
  <div class="well well-small">
    {{{ paginationButtons }}}
    {{{ selectPerPage }}}
 </div>
  
</template>


<template name="contactrecord">
  <tr>
      <td>{{name}}</td>
      <td>{{email}}</td>
  </tr>
</template>