<template name="basicLayout">
<div id="wrapper">

    {{> header}}

    <div id="page-wrapper">
	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">{{title}}</h1>
	    </div>
	    <!-- /.col-lg-12 -->
	</div>
    {{> yield}}
    </div>
    {{> footer}}
</div>
</template>
