<template name="pagination">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6">
                {{> kittens_parent}}
            </div>
            <div class="span6">
                {{> puppies_parent}}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                {{> kittens_view_parent}}
            </div>
        </div>
    </div>
</template>

<template name="kittens_parent">
    {{> kittens_template}}
</template>

<template name="kittens_view_parent">
    {{> kittens_view_template}}
</template>

<template name="puppies_parent">
    {{> puppies_template }}
</template>

<template name="kittens_template">
    <h2>Kittens</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Toy</th>
        </tr>
        {{#each kitten}}
            <tr>
                <td>{{number}}</td>
                <td>{{name}}</td>
                <td>{{toy}}</td>
            </tr>
        {{/each}}
    </table>
    <div class="well well-small">
        {{> paginationButtons data }}
        {{> selectPerPage data }}
    </div>
</template>

<template name="kittens_view_template">
    <h2>Kittens View</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Toy</th>
        </tr>
        {{#each kitten}}
            <tr>
                <td>{{number}}</td>
                <td>{{name}}</td>
                <td>{{toy}}</td>
            </tr>
        {{/each}}
    </table>
    <div class="well well-small">
        {{> paginationButtons data }}
        {{> selectPerPage data }}
    </div>
</template>

<template name="puppies_template">
    <h2>Puppies</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Toy</th>
        </tr>
        {{#each puppy}}
            <tr>
                <td>{{number}}</td>
                <td>{{name}}</td>
                <td>{{toy}}</td>
            </tr>
        {{/each}}
    </table>
    <div class="well well-small">
        {{> paginationButtons data }}
        {{> selectPerPage data }}
    </div>
</template>
