<template name="leaderboard">
  {{#if showPlayerDialog}}
  {{> PlayersForm}}
  {{/if}}

  <div class="row"> 
          
        <div class="col-lg-12">
          
          {{> leaderboardlist}}
        </div>
  </div>
</template>

<template name="PlayersForm">
  <div class="modal show">
    <div class="modal-dialogs modal-sm modal-dialog-center">
    {{#autoForm id="PlayersFormDemo" type=formType collection="Players" doc=selectedPlayerDoc}}
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closePlayerForm" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{#if isUpdate}}
          Update Players
          {{else}}
          Add Players
          {{/if}}</h4>
        </div>
        <div class="modal-body">
          {{> afQuickField name="name"}}
          {{> afQuickField name="score"}}
        </div>
        <div class="modal-footer">
          {{#if isUpdate}}
            <button type="submit" class="btn btn-primary save">Update</button>
            <button type="button" class="btn btn-danger remove">Remove</button>
            {{else}}
            <button type="submit" class="btn btn-primary save">Add</button>
            {{/if}}
            <button type="reset" class="btn btn-default">Reset Form</button>
        </div>
      </div>
    {{/autoForm}}
    </div>
  </div>
  
</template>


<template name="leaderboardlist">
  <button type="button" class="btn btn-default addPlayerBtn">Add Players</button>
  <div id="table">
    {{> reactiveTable collection=players settings=tableSettings class="table table-bordered table-hover playerstable"}}
  </div>
</template>
