<template name="map">
<!--<script type="text/javascript"
        src="http://maps.google.com/maps/api/js?v=3.13&key=AIzaSyCo6BmSej0eLOhcTWPfKoI-hF0IAWWN4gA&sensor=false">
    </script>-->
     <div id="map">
        <div id="map-canvas"></div>
    </div>
</template>
