<template name="managebooks">
    <div class="row"> 
      <div class="col-lg-4">
        {{> insertBookForm}}
      </div>
      <div class="col-lg-8">
        <div class="reactiveListSample">
          {{> reactiveListSample}}
        </div>
      </div>
    </div>
</template>

<template name="insertBookForm">
  {{> quickForm collection="books" id="insertBookForm" type=formType doc=selectedBookDoc}}
</template>

<template name="custombooksList">
  <div>
  {{#each bookLists}}
    {{> book}}
  {{/each}}
  </div>
</template>

<template name="reactiveListSample">
  <div id="table">
  {{> reactiveTable collection=booklists class="table table-bordered table-hover bookstable"}}
  </div>
</template>

<template name="book">	
  <div class="player">
    <div class="name"><b>{{title}}</b></div>
    <span class="score">{{author}}</span>
  </div>
</template> 


<template name="containsTheDataTable">
    {{> ReactiveDatatable tableData=reactiveDataFunction options=optionsObject }}
</template>